@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  background-color: #1f1f1f;
}
* {
  font-family: consolas;
}
h1 {
  font-weight: 900;
  color: #23b93c;
  font-size: 45px;
  font-weight: 500;
}
h2 {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.bin {
  padding: 10px;
  background-color: rgba(255, 255, 255, 10%);
  border: 0;
  width: 320px;
  height: 40px;
  color: #23b93c;
  font-size: 18px;
}
.bin::placeholder {
  color: #23b93c;
  font-size: 18px;
}
main {
  text-align: center;
  display: grid;
  justify-items: center;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  height: 95vh;
  margin-top: 20px;
  margin-left: 65px;
}
.btn {
  border: 0;
  padding: 10px;
  font-family: consolas;
  height: 60px;
  width: 140px;
  font-size: 18px;
}
.btn-primary {
  background-color: #0d681c;
  color: white;
}
/* .checkbox {
  border: 1px solid #23b93c;
  width: 13px;
  height: 13px;
  margin-right: 10px;
}
.checkbox:active {
  background-color: rgba(56, 153, 81, 88%);
} */
.option {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: white;
  cursor: pointer;
  margin: 15px 0;
}
.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-self: flex-start;
  grid-gap: 15px;
  justify-items: flex-start;
  margin-top: 20px;
}
.btn-help {
  width: 49px;
  height: 49px;
  background-color: rgba(255, 255, 255, 7%);
  border-radius: 50%;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
  /* padding-bottom: 10px; */
  align-self: flex-end;
  justify-self: flex-end;
}
.results {
  color: #23b93c;
  justify-self: flex-start;
  text-align: left;
}
.results p {
  font-size: 18px;
}
.line {
  position: absolute;
  width: 1px;
  background-color: #707070;
  height: 600px;
  top: 25px;
  left: 40px;
}
.main-box {
  margin-top: -300px;
  margin-right: -50px;
}
#first-result {
  opacity: 0;
}

input[type='checkbox']:not(old) + label {
  cursor: pointer;
}

input[type='checkbox']:not(old) + label:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px double black;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
}

.wrapper {
  position: relative;
}

input[type='checkbox']:not(old) {
  /* Opacidad para ocultar el input */
  opacity: 0;

  /* Position para dejar el input bajo el label
     (Es importante agregar al contenedor una posición relativa) */
  position: absolute;
  top: 0;
  left: 0;
}

/* Este es un pequeño reset */
input[type='checkbox']:not(old) + label::-moz-selection,
input[type='checkbox']:not(old) + label::selection {
  color: inherit;
  background-color: transparent;
}
input[type='checkbox']:not(old) + label {
  cursor: pointer;
}

input[type='checkbox']:not(old) + label:before {
  border: 1px solid #23b93c;
  width: 13px;
  height: 13px;
  /* margin-right: 10px; */
}

input[type='checkbox']:not(old):checked + label:before {
  /* Estilos del input seleccionado */
  background-color: rgba(56, 153, 81, 88%);
}
.alert {
  background-color: #9e0c20;
  color: white;
  width: 500px;
  height: 50px;
  position: absolute;
  top: 120px;
  left: 550px;
  display: none;
}
.generar-box p {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
#pesos {
  display: flex;
}
#pesos div {
  margin-right: 40px;
}
